<div *ngIf="hero && !editable" class="hero-card-container">
  <mat-card class="hero-card">
    <mat-card-header>
      <div mat-card-avatar class="hero-header-image"></div>
      <mat-card-title>{{hero.name | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{hero.type.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src={{hero.image}} alt="Photo of a Hero Type">
      <p>
        {{hero.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="changeEditMode()">EDIT</button>
      <button mat-button (click)="delete(hero)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="heroTemp && editable" class="hero-card-container">
  <form>
    <mat-card class="hero-card">
      <mat-card-header>
        <div mat-card-avatar class="hero-header-image"></div>
        <mat-card-title>
          <mat-form-field>
            <input
              matInput
              placeholder="{{heroTemp.name | uppercase}}"
              [(ngModel)]="heroTemp.name"
              name="heroTemp.name"
            >
          </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle>{{heroTemp.type.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src={{heroTemp.image}} alt="Photo of a Hero Type">
        <p>
          {{heroTemp.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="save(heroTemp)">SAVE</button>
        <button mat-button (click)="cancel()">CANCEL</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
