<div *ngIf="createdHero">
  <form [formGroup]="heroForm">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Hero Name</mat-label>
        <input matInput placeholder="Name"
               [(ngModel)]="createdHero.name"
               formControlName="name"
               value="{{createdHero.name}}"
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Hero Level</mat-label>
        <input type="number" matInput placeholder="Level"
               [(ngModel)]="createdHero.level"
               formControlName="level"
               value="{{createdHero.level}}"
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Hero Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          [(ngModel)]="createdHero.description"
          formControlName="description"
          value="{{createdHero.description}}"
        >
        </textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-select
        *ngIf="fetchedTypes"
        [(ngModel)]="selectedType"
        placeholder="Hero Type"
        required
        formControlName="type"
      >
        <mat-option *ngFor="let type of fetchedTypes" [value]="type.name">
          {{type.name}}
        </mat-option>
      </mat-select>
    </p>
    <button type="submit" [disabled]="!heroForm.valid" (click)="add()">Save</button>
  </form>
</div>
