<div *ngIf="createdHero">
  <form>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Hero Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="createdHero.name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Hero Level</mat-label>
        <input type="number" matInput placeholder="Level" [(ngModel)]="createdHero.level">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Hero Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          [(ngModel)]="createdHero.description"
        >
        </textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-select
        *ngIf="fetchedTypes"
        [(ngModel)]="selectedType"
        name="type.name"
        placeholder="Hero Type"
        required
      >
        <mat-option *ngFor="let type of fetchedTypes" [value]="type.name">
          {{type.name}}
        </mat-option>
      </mat-select>
    </p>
  </form>
</div>
