/* HeroesComponent's private CSS styles */
.table-container {
  width: 100%;
  .heroes-table {
    min-width: 700px;
    width: 80%;
    margin: auto;
  }
  .table-paginator{
    min-width: 700px;
    width: 80%;
    margin: auto;
    padding: 0 !important;
  }
}
