<div>
  <div class="table-container">
    <h2>My Heroes</h2>
    <table mat-table [dataSource]="heroes" class="heroes-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let hero"> {{hero.id}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let hero"> {{hero.description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let hero"> {{hero.level}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let hero"> {{hero.type.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row;
        columns: displayedColumns"
        [routerLink]="['/detail/', row.id]"
      ></tr>
    </table>
    <mat-paginator
      [length]="getTotalHeroes()"
      [pageSize]="10"
      [pageIndex]="pageIndex"
      aria-label="Select page"
      class="table-paginator"
      (page)="getHeroes($event)"
    >
    </mat-paginator>
  </div>
</div>
