.table-container {
  text-align: center;
  .heroes-table {
    min-width: 700px;
    width: 80%;
    margin: auto;
  }
  .table-paginator {
    min-width: 700px;
    width: 80%;
    margin: auto;
    padding: 0 !important;
  }
}

.create-button {
  margin-top: 2%;
}
